.header-home{
    color:#111430;
}
.hire-btn{
    width:170px;
    height:45px;
    border:none;
    background-color:#111430;
    color:#fff;
    border-radius:10px;
}

.frame{
    height:500px;
}

.image-frame{
    margin-left: 100px;
}